/* General */
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #0B0C0D;
    position: relative;
    padding-bottom: 98px;
    min-height: 100vh;
}
h1,h2,h3,h4{
    font-family:'Alegreya Sans';
    color: #F1F2F4;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
p{
    font-family:'Alegreya Sans';
    font-size: 15px;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 10px;
}
div[id]{
    scroll-margin-top: 15px;
}
html{
    scroll-behavior: smooth;
}


/* Header */
.nav{
    position: fixed;
    width:100%;
    background-color: #0B0C0D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease;
}
.nav.active{
    background-color: #717C7D;
    opacity: 80%;
}
.nav.active a{
    color:#0B0C0D
}
.nav.active a:hover{
    color: #FFFFFF;
    background-color: #0B0C0D;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 15px;
}
.menu li a{
    font-weight: bold;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background: #FFFFFF;
    color: #0B0C0D;
    border-radius: 15px;
}

/* Home */
.personal_info{
    padding-top: 250px;
    text-align: center;
    padding-bottom: 250px;
    background-color: #0B0C0D;
}



/* Contact */
.contact_div{
    background-color: #0B0C0D;
}
.contact_div h2{
    text-align: center;
}
.contact_div p{
    text-align: center;
}
.buttons_contact{
    padding-top: 15px;
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}
.buttons_contact a{
    background-color: #717C7D;
    color: #F1F2F4;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    transition: all 0.4s;
}
.buttons_contact a:hover{
    background-color: #FFFFFF;
    color: #0B0C0D;
    transform: scale(1.2);
}


/* Footer */
.footer{
    padding: 20px;
    background-color: #0B0C0D;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.footer_links{
    text-align: center;
    padding-bottom: 10px;
}
.Copyright{
    background-color:#0B0C0D;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Copyright p{
    font-size: 10px;
}

/* Scroll */
.scroll{
    height: 100px;
}




